
.days{
    width: 70%;
    height: 20px;
    display: inline;
    margin-left: 10px;
    border-radius: 10%;
    border: 0.5px solid black;
}
.myDay{
    width: 70%;
    height: 20px;
    display: inline;
    margin-left: 10px;
    border-radius: 10%;
    border: 2px solid rgb(245, 11, 101);
}